In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/2020-6-5-17.csv', header=None)

In [17]:
df.sort_values(by=3, ascending=False)

                     0             1                      2    3
218          liverpool  402285219237    Virgil Van Dijk (4)  336
229          liverpool  402285219258  Jordan Henderson (14)  279
235          liverpool  402285219263    Roberto Firmino (9)  244
400  tottenham-hotspur  402285221174        Harry Kane (10)  205
213          liverpool  402285219214     Alisson Becker (1)  186
..                 ...           ...                    ...  ...
341   sheffield-united  402285220255    Kieron Freeman (18)    0
410            watford  402285221173       Adam Masina (11)    0
182            everton  402285222556    Beni Baningime (34)    0
183            everton  402285222555   Dennis Adeniran (35)    0
327       norwich-city  402285220294       Josip Drmić (20)    0

[472 rows x 4 columns]

In [23]:
df.sort_values(by=3).head(50)

,0,1,2,3
341,sheffield-united,402285220255,Kieron Freeman (18),0
327,norwich-city,402285220294,Josip Drmić (20),0
183,everton,402285222555,Dennis Adeniran (35),0
182,everton,402285222556,Beni Baningime (34),0
410,watford,402285221173,Adam Masina (11),0
419,watford,402285221253,Domingos Quina (20),1
406,watford,402285221297,Daniel Bachmann (35),1
144,crystal-palace,402285217924,Stephen Henderson (19),1
364,southampton,402285221171,Kevin Danso (38),1
416,watford,402285221257,Nathaniel Chalobah (14),1
365,southampton,402285221262,Yan Valery (43),1
316,norwich-city,402285220232,Lukas Rupp (7),1
414,watford,402285221251,Christian Kabasele (27),1
312,norwich-city,402285220260,Grant Hanley (5),1
411,watford,402285221247,Craig Cathcart (15),1
412,watford,402285221255,Kiko Femenía (21),1
420,watford,402285221198,Tom Dele-Bashiru (24),1
107,burnley,402285217944,Jimmy Dunne (34),1
409,watford,402285221220,Adrian Mariappa (6),1
96,burnley,402285217891,Bailey Peacock-Farrell (15),1
238,manchester-city,402285219280,Scott Carson (33),1
408,watford,402285221282,Craig Dawson (4),1
73,brighton-and-hove,402285217876,BRIGHTON & HOVE ALBION Jason Steele (23),1
405,watford,402285221180,Pontus Dahlberg (30),1
308,norwich-city,402285220239,Michael McGovern (33),1
358,southampton,402285221192,Jannik Vestergaard (4),1
407,watford,402285221182,Daryl Janmaat (2),1
12,afc-bournemouth,402285222053,Chris Mepham (33),1
348,sheffield-united,402285220285,Ben Osborn (23),1
422,watford,402285221296,Ignacio Pussetto (33),1
13,afc-bournemouth,402285222105,Dan Gosling (4),1
175,everton,402285222553,Cuco Martina (30),1
346,sheffield-united,402285220263,Luke Freeman (8),1
332,sheffield-united,402285220213,Jake Eastwood (13),1
167,everton,402285222545,João Virgínia (31),1
178,everton,402285222539,Morgan Schneiderlin (18),1
166,everton,402285222549,Maarten Stekelenburg (22),1
342,sheffield-united,402285220241,Jack Robinson (19),1
23,afc-bournemouth,402285222120,Philip Billing (29),1
156,crystal-palace,402285217920,Cheikhou Kouyaté (8),1
10,afc-bournemouth,402285222089,Jack Simpson (25),1
333,sheffield-united,402285220237,Michael Verrips (21),2
403,watford,402285221163,Heurelho Gomes (1),2
236,manchester-city,402285219301,Claudio Bravo (1),2
197,leicester-city,402285219254,Daniel Amartey (18),2
460,wolverhampton-wanderers,402285222056,Oskar Buur (59),2
74,brighton-and-hove,402285217934,BRIGHTON & HOVE ALBION David Button (27),2
208,leicester-city,402285219294,Nampalys Mendy (24),2
106,burnley,402285217879,Kevin Long (28),2
176,everton,402285222550,Fabian Delph (8),2

In [22]:
df.shape

(472, 4)

In [15]:
print(df[df[3]==0])

                    0             1                     2  3
182           everton  402285222556   Beni Baningime (34)  0
183           everton  402285222555  Dennis Adeniran (35)  0
327      norwich-city  402285220294      Josip Drmić (20)  0
341  sheffield-united  402285220255   Kieron Freeman (18)  0
410           watford  402285221173      Adam Masina (11)  0

In [34]:
df_recent = pd.read_csv('data/2020-6-5-22.csv', header=None)

In [35]:
df_recent.sort_values(by=3, ascending=False)

                     0             1                            2    3
219          liverpool  402285219237          Virgil Van Dijk (4)  386
231          liverpool  402285219258        Jordan Henderson (14)  320
237          liverpool  402285219263          Roberto Firmino (9)  278
401  tottenham-hotspur  402285221174              Harry Kane (10)  251
225          liverpool  402285219213  Trent Alexander-Arnold (66)  248
..                 ...           ...                          ...  ...
411            watford  402285221173             Adam Masina (11)    1
97             burnley  402285217891  Bailey Peacock-Farrell (15)    1
10     afc-bournemouth  402285222089            Jack Simpson (25)    1
184            everton  402285222555         Dennis Adeniran (35)    0
183            everton  402285222556          Beni Baningime (34)    0

[473 rows x 4 columns]